<template name="header">
  <header>
    <div class="ui menu">
      <a class="item" href="{{pathFor 'summary'}}">
        <i class="home icon"></i> Normipäivä
      </a>
      {{#if currentUser}}
      <a class="item" href="{{pathFor 'userDetails'}}">
        <i class="user icon"></i> Details
      </a>
      {{/if}}
      <div class="right menu">
        {{#if currentUser}}
        <a class="item">
          <i class="sign out icon"></i> Sign Out
        </a>
        {{else}}
        <a class="item" href="{{pathFor 'logInRegister'}}">
          <i class="sign in icon"></i> Sign In / Register
        </a>
        {{/if}}
      </div>
    </div>
  </header>
</template>