<template name="logInRegister">  
  <div class="ui two column grid">
    <div class="column">
      <div class="ui fluid form segment {{showRegistrationFailedNotice}}">
        <form id="register-form">
          <h3 class="ui header">Register</h3>
          <div class="ui warning message">
            <p>{{registrationFailedErrorMessage}}</p>
          </div>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input id="register-firstname" placeholder="First Name" type="text">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input id="register-lastname" placeholder="Last Name" type="text">
            </div>
          </div>
          <div class="field">
            <label>Username</label>
            <input id="register-username" placeholder="Username" type="text">
          </div>
          <div class="field">
            <label>Password</label>
            <input id="register-password" type="password">
          </div>
          <input type="submit" value="Submit" class="ui blue submit button" />
        </form>
      </div>
    </div>
    <div class="column">
      <form id="login-form">
        <div class="ui fluid form segment {{showLoginFailedNotice}}">
          <h3 class="ui header">Sign in</h3>
          <div class="ui warning message">
            <p>Please check your username and password.</p>
          </div>
          <div class="field">
            <label>Username</label>
            <input id="login-username" placeholder="Username" type="text">
          </div>
          <div class="field">
            <label>Password</label>
            <input id="login-password" type="password">
          </div>
          <input type="submit" value="Submit" class="ui blue submit button" />
        </div>
      </form>
    </div>
  </div>
</template>