<template name="userDetails">
  <div class="ui three column grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
      <div class="ui fluid form segment">
        <form id="new-entry-form">
          <div class="field">
            <label>What is your current level of contentment?</label>
            <div class="ui large heart rating">
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
            </div>
          </div>
          <div class="field">
            <label>How much would you like to work?</label>
            <div class="ui buttons">
              <input id="button-less" type="button" value="Less" class="ui button workamount" />
              <input id="button-same" type="button" value="Same" class="ui button workamount active" />
              <input id="button-more" type="button" value="More" class="ui button workamount" />
            </div>
          </div>
          <div class="field">
            <label>What are you currently working on?</label>
            <input id="name-of-project" type="text" />
          </div>
          <input type="submit" value="Submit" class="ui blue submit button" />
        </form>
      </div>
    </div>
  </div>
</template>