<template name="userDetails">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="workAmountInput">How much would you like to work?</label>
        <div class="controls">
            <input name="workAmountInput" type="text" value="" placeholder="less/same/more"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="contentmentLevelInput">What is your current level of contentment?</label>
        <div class="controls">
            <input name="contentmentLevelInput" type="text" value="" placeholder="low/average/high"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="workingOnInput">What are you currently working on?</label>
        <div class="controls">
            <input name="workingOnInput" type="text" value="" placeholder="name of project"/>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>