<template name="userDetails">
  <div class="ui three column grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
      <div class="ui fluid form segment">
        <form>
          <div class="field">
            <label>What is your current level of contentment?</label>
            <div class="ui large heart rating">
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
            </div>
          </div>
          <div class="field">
            <label>How much would you like to work?</label>
            <div class="ui buttons">
              <div class="ui button">Less</div>
              <div class="ui button active">Same</div>
              <div class="ui button">More</div>
            </div>
          </div>
          <div class="field">
            <label>What are you currently working on?</label>
            <input id="name-of-project" type="text" />
          </div>
          <input type="submit" value="Submit" class="ui blue submit button" />
        </form>
      </div>
    </div>
  </div>
</template>